
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
  color: #ddd;
}

#connecting {
  width: 6em;
}

#disconnected {
  text-align: center;
  height: 7em;
}

label,
label[for$=-name] * { /* user-name, group-name, not create-group */
  display: block;
  margin-bottom: 1em;
}

label[for] span {
  margin-bottom: 0.25em;
}

li.owner {
  font-weight: bold;
  color: #fc6;
}

button:not(:disabled),
.button {
  cursor: pointer
}